h2{
    color: black
    background-color: aquamarine;
}
.c1{
    color: black
 background-color: burlywood;
}
.c2{
    color: black
    background-color: cornflowerblue;
}
.c3{
    color:black;
    background-color: crimson;
}
.c4{
    color: black;
    background-color: darksalmon;
}